*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#121212;
    color:white;
    max-width:500px;
    margin:auto;
    min-height:100vh;
}

header{
    background:#1e1e1e;
    text-align:center;
    padding:20px;
    border-bottom:1px solid #333;
}

header h1{
    font-size:28px;
}

main{
    padding:20px;
}

select{
    width:100%;
    padding:12px;
    margin-bottom:20px;
    border:none;
    border-radius:10px;
    background:#2a2a2a;
    color:white;
}

.card{
    background:#1e1e1e;
    border-radius:20px;
    padding:25px;
    min-height:350px;
    box-shadow:0 0 20px rgba(0,0,0,.4);
}

#info{
    text-align:center;
    color:#999;
    margin-bottom:20px;
}

.front{
    font-size:38px;
    font-weight:bold;
    text-align:center;
    margin-top:40px;
    margin-bottom:40px;
}

.back{
    font-size:28px;
    text-align:center;
    color:#4ade80;
    min-height:60px;
    margin-bottom:20px;
}

#mostrarBtn{
    width:100%;
    padding:15px;
    border:none;
    border-radius:12px;
    font-size:18px;
    background:#0d6efd;
    color:white;
    margin-bottom:20px;
}

.actions{
    display:flex;
    justify-content:space-between;
    gap:10px;
    margin-bottom:20px;
}

.actions button{
    flex:1;
    padding:15px;
    border:none;
    border-radius:12px;
    font-size:22px;
    background:#2d2d2d;
    color:white;
}

.learn{
    display:flex;
    gap:10px;
}

.learn button{
    flex:1;
    padding:15px;
    border:none;
    border-radius:12px;
    font-weight:bold;
    font-size:16px;
}

.bad{
    background:#dc3545;
    color:white;
}

.good{
    background:#198754;
    color:white;
}

nav{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    max-width:500px;
    margin:auto;
    background:#1e1e1e;
    border-top:1px solid #333;
    display:flex;
    justify-content:space-around;
    padding:12px;
}

nav button{
    background:none;
    border:none;
    color:white;
    font-size:24px;
}
